 <div class="header">
      <nav class="navbar navbar-inverse" role="navigation">
        <ul class="nav nav-pills pull-right">
          <li class="dropdown">
           <a href="#" class="dropdown-toggle" data-toggle="dropdown">Teams<span class="caret"></span></a>
           <ul class="dropdown-menu" role="menu">
            <li><a href="">Team-A</a></li>
            <li><a href="#">Red Builders</a></li>
            <li><a href="#">Code Busters</a></li>
            <li class="divider"></li>
            <li><a href="#">Manage teams</a></li>
          </ul>
          </li>
          <li><a ng-href="#/sprints">Sprints</a></li>
           <li><a ng-href="#/user_stories">User Stories</a></li>
          <li><a ng-href="#/about">About</a></li>
        </ul>
      </nav>
  </div>
